---
import FAQ from "./faq/FAQ.astro";
import Contact from "./contact/Contact.astro"
---
<footer>
  <Contact header={{
    title: "Let’s <span>create</span> something special together.",
    subtitle: `In just 48 hours, our experts will meticulously assess your video content and reveal untapped opportunities for enhancing your <span class="font-bold">brand</span> and visual storytelling.`
  }}/>
  <FAQ />
</footer>