---
import logo from "../assets/Tifi.png";
import menu from "../assets/menu.png";
---

<script>
  let isMenuOpen = false;

  function toggleMenu() {
    isMenuOpen = !isMenuOpen;
  }
</script>

<header
  class="bg-white noto flex py-6 px-[22px] lg:rounded-3xl lg:my-8 lg:w-[80%] mx-auto items-center justify-between"
>
  <span>
    <a href="/"> <img src={logo.src} alt="" /></a>
   
  </span>

  <div>
    <ul
      class="hidden lg:flex noto flex-col top-0 left-0 bg-white lg:bg-transparent right-0 absolute lg:relative lg:flex-row text-base text-[#1D2939] items-center gap-8"
    >
      <li><a href="/about">About Us</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="">Clients</a></li>
      <li><a href="">Resources</a></li>
      <li class="lg:hidden">
        <button
          class="bg-[#FF601F] text-base font-bold py-3 px-5 text-white rounded-lg"
        >
          LET'S TALK
        </button>
      </li>
    </ul>
  </div>

  <button
    class="bg-[#FF601F] hidden lg:block text-base font-bold py-3 px-5 text-white rounded-lg"
  >
    LET'S TALK
  </button>

  <div class="lg:hidden">
    <img src={menu.src} alt="" />
  </div>
</header>
