---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {ViewTransitions} from 'astro:transitions';
interface Props {
  title: string;
  titleHeader: string;
  showHeader?: boolean;
  showFooter?: boolean;
}

const { title, titleHeader, showHeader = true, showFooter = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&family=Noto+Sans:wght@400;500;700&family=Plus+Jakarta+Sans:wght@400;500;700&family=Red+Hat+Display:wght@400;600;700&display=swap" rel="stylesheet">
    <ViewTransitions />
  </head>
  <body>
    <main transition:animate="slide">
      {showHeader && <Header />}
      <div id="container">
        <slot />
      </div>
      {showFooter && <Footer />}
    </main>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer base {
    :root {
      --page-padding: 10rem
    }
    @media screen and (max-width: 1440px) {
      :root {
        --page-padding: 5rem
      }
    }
    @media screen and (max-width: 834px) {
      :root {
        --page-padding: 2.5rem
      }
    }
    @media screen and (max-width: 400px) {
      :root {
        --page-padding: 1rem
      }
    }
    body {
      @apply text-[#344054]
    }
    textarea {
      @apply resize-none
    }
    #container, #site-footer {
      @apply flex flex-col [&>section]:px-[var(--page-padding)]
    }
  }
  @layer components {
    .input {
      @apply border-none outline-transparent
    }
    .btn {
      @apply py-3 px-5 inline-flex border-none items-center justify-center rounded-lg
    }
    .btn.btn-primary{
      @apply bg-[#FF601F] text-white font-extrabold font-button shadow-[0px_14px_16px_0px_rgba(29,41,57,0.05)]
    }
  }
</style>
